body,h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
  }
  
  h1,h2,h3,h4 {
    text-decoration: none;
    color: darkblue;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: Montserrat, sans-serif;
  }
  
  p, a {
    text-decoration: none;
    color: black;
    line-height: 25px;
    font-family: Poppins,sans-serif;
  }

  .footer-col a {
    color: rgba(0,0,0,0.75);
  }
  
  .content {
    height: 80vh;
    background: #ccc;
  }
  
  .footer-content-wrapper {
    width: 80%;
    margin: 1em auto;  
  }
  
  .footer-col {
    display: inline-block;
    padding: 0.5em 0.1em 0.5em 1em;
    box-sizing: border-box;
    border-right: solid 1px darkblue;
  }

  .footer-col:nth-child(4) {
    border: none;
  }
  
  .ta-l {
    text-align: left;
  }
  .flt {
    float: left;
  }
  
  .flt:nth-child(4):after {
     content: " "; 
     visibility: hidden; 
     display: block; 
     height: 1em; 
     clear: both;
  }
  
  .large-25 {
    width: 25%;
  }
  
  .footer-col a {
    display: block;
    margin: 0.3em 0;
  }

  .footer-col p {
    display: block;
    margin: 0.3em 0;
  }

  @media (max-width: 550px) {
    .small-50 {
      width: 50%;  
    }
    .footer-col:nth-child(2) {
      border: none;
    }
  }
  
  @media (max-width: 300px) {
    .tiny-100 {
      width: 100%;
    }
    .footer-col { 
      border: none;
    }
  }

  .copyrights {
      display: inline-block;
      width: 100%;
      text-align: center;
  }