.home-bg {
    background-image: url('../images/background-x3.png');
    background-color: white;
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 600px;
}

.header {
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: 500;
    padding: 30px;
}

.navigation {
    padding: 0px 30px;
}

.logo {
    width: 38px;
    height: 38px;
}

.navbar {
    display: flex;
    list-style: none;
    text-decoration-style: none;
}

.nav-item {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 25px;
    cursor: pointer;
    padding: 20px 0px;
    margin: 0px 20px; 
}

.nav-item::before {
    transition: 300ms;
    height: 2.5px;
    content: "";
    position: absolute;
    background-color: darkblue;
  }

.nav-item::before {
    width: 0%;
    bottom: 10px;
  }

.nav-item:hover::before {
    width: 100%;
}

.home-content {
    padding: 125px 0px;
}

.home-header {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    color: black;
}

.home-text {
    font-size: 32px;
    line-height: 80px;
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-family: Montserrat, sans-serif;
}

.home-text-bottom {
    font-size: 24px;
    line-height: 40px;
    font-weight: bolder;
    color: darkblue;
    word-spacing: 3px;
    font-family: Montserrat, sans-serif;
}

.header {
    transition: .4s all ease;
}

.header.active {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 10px 30px;
    background-color: white;
    opacity: 0.8;
}